node_modules
.pnpm-store
**/node_modules
**/dist
**/build
**/.next
**/out
**/*.tsbuildinfo
.turbo
**/.turbo
.env
.env.local
.env.*.local
*.log
**/*.log
coverage
**/coverage
packages/database/generated
.git
.vscode
.idea
.DS_Store
docker/data
